{% extends 'index.html' %}

{% block content %}
<div class="other-background">
  <div class="client-list" style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: rgba(255, 255, 255, 0.8);">
    <div style="text-align: center; color: rgba(0, 0, 0, 0.5);">
      {% if 'Manager' not in groups %}
      <a href="{% url 'spam_mailing:client_create' %}" class="btn btn-primary mt-2">Создать клиента</a>
      {% endif %}
      <h2 class="mt-2">Список клиентов</h2>
      <ul>
        {% for client in clients %}
          <li style="mk max-width: 100px; margin: auto; padding: 5px; border: 10px solid #ccc; border-radius: 10px; background-color: rgba(255, 255, 255, 0.8);">
            {{ client }}
            {% if 'Manager' not in groups %}
            <a href="{% url 'spam_mailing:client_update' client.pk %}" class="btn btn-info btn-sm">Изменить</a>
            <form method="post" action="{% url 'spam_mailing:client_delete' client.pk %}" style="display: inline;" onsubmit="return confirm('Вы уверены, что хотите удалить клиента?');">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
            </form>
            {% endif %}
            {% if 'Manager' in groups %}
            {% if client.is_active %}
            <form method="post" action="{% url 'spam_mailing:client_inactive' client.pk %}" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-warning btn-sm">Деактивировать</button>
            </form>
            {% else %}
            <form method="post" action="{% url 'spam_mailing:client_make_active' client.pk %}" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-success btn-sm">Активировать</button>
            </form>
            {% endif %}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
