{% extends 'index.html' %}

{% block content %}
<li style="mk max-width: 100px; margin: auto; padding: 5px; border: 10px solid #ccc; border-radius: 10px; background-color: rgba(255, 255, 255, 0.8);">
  <div class="mailing-detail">
    <h2>Подробная информация о рассылке</h2>
    <ul>
      <li><strong>Владелец:</strong> {{ object.owner }}</li>
      <li><strong>Время отправки:</strong> {{ object.send_time }}</li>
      <li><strong>Рассылка:</strong> {{ object.frequency }}</li>
      <li><strong>Статус:</strong> {{ object.status }}</li>
    </ul>
    {% if user.is_authenticated and 'Manager' in groups %}
    <form method="post" action="{% url 'spam_mailing:mailing_stop' object.pk %}" style="display: inline;">
      {% csrf_token %}
      <button type="submit" class="btn btn-warning btn-sm">Остановить</button>
    </form>
    {% endif %}
  </div>
</li>
{% endblock %}
