<!--index.html-->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ООО КУКУШКА</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        body {
            background-image: url('{% static "images/background.jpg" %}');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body class="body">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'user:u_login'%}">ООО "Кукушка"</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'spam_mailing:client_list' %}">Список клиентов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'spam_mailing:message_list' %}">Список сообщений</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'spam_mailing:mailing_list' %}">Список рассылок</a>
                </li>
                <li class="nav-item">
                    {% else %}
                    {% endif %}
                    {% if user.is_authenticated and user.have_permissions %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:u_list' %}">Список пользователей</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'user:u_detail' pk=user.pk %}">Профиль</a>
                </li>
                <a class="nav-link" href="{% url 'user:u_logout' %}">Выход</a>
                {% else %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'user:u_login' %}">Вход</a>
                </li>
                <a class="nav-link" href="{% url 'user:u_register' %}">Регистрация</a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
